<div class="show-content mx-4 mt-2 p-4">
<%= flash[:notice] %>
<p class="ms-4 mb-4">
  <strong class="p-2">Title:</strong>
  <%= @book.title %>
</p>
<p class="ms-4 mb-4">
  <strong class="p-2">Body:</strong>
  <%= @book.body %>
</p>
<%= link_to 'edit',edit_book_path(@book.id) %>
<span>|</span>
<%= link_to 'back','/books' %>
</div>